body {
  background-color: #202124;
  color: white;
  display: flex;
}

#primaryColumn {
  flex: 1;
}

#secondaryColumn {
  margin-left: 4px;
  max-width: 408px;
}

#debug {
  min-width: 400px;
  white-space: pre-wrap;
  font-family: monospace;
}

#debugView > h1 {
  font-size: 1rem;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 8px;
}

#debugView > section {
  white-space: pre-wrap;
  font-family: monospace;
}

#tactical {
  background-color: #000;
  display: block;
  margin-bottom: 1em;
}

.graph {
  display: inline-block;
  border: 1px solid #404450;
  border-radius: 4px;
}